version: "3.8"

services:
  db:
    image: mysql:8.0
    container_name: sss_db
    restart: unless-stopped
    env_file: .env
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER:     ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
#      MYSQL_DATABASE: sss_york_gp_users
#      MYSQL_USER: app_user
#      MYSQL_PASSWORD: AppUserPass123!
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  backend:
    build:
      context: ./I-TO-SAI-BE
      dockerfile: Dockerfile
    container_name: sss_backend
    restart: unless-stopped
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL:      ${SPRING_DATASOURCE_URL}
      SPRING_DATASOURCE_USERNAME: ${SPRING_DATASOURCE_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${SPRING_DATASOURCE_PASSWORD}
#      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/sss_york_gp_users?useSSL=false&allowPublicKeyRetrieval=true
#      SPRING_DATASOURCE_USERNAME: app_user
#      SPRING_DATASOURCE_PASSWORD: AppUserPass123!
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      LOGGING_LEVEL_ORG_SPRINGFRAMEWORK_SECURITY: TRACE
    depends_on:
      - db
#    ports:
#      - "8080:8080"

  frontend:
    build:
      context: ./I-TO-SAI-FE
      dockerfile: Dockerfile
    container_name: sss_frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "80:80"

volumes:
  db_data:
